{
  "swagger": "2.0",
  "info": {
    "title": "Forecast API",
    "description": "The Forecast API lets you query for most locations on the globe, and returns: current conditions, minute-by-minute forecasts out to 1 hour (where available), hour-by-hour forecasts out to 48 hours, and more.",
    "version": "1.0"
  },
  "host": "api.forecast.io",
  "basePath": "",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/forecast/{apiKey}/{latitude},{longitude}": {
      "get": {
        "description": "Get forecast for a geographical location specified by its latitude and longitude.",
        "operationId": "getForecast",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "description": "Your forecast.io API key.",
            "required": true,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "path",
            "description": "Requested latitude.",
            "required": true,
            "type": "number",
            "default": 41.8369
          },
          {
            "name": "longitude",
            "in": "path",
            "description": "Requested longitude.",
            "required": true,
            "type": "number",
            "default": -87.6847
          },
          {
            "name": "units",
            "in": "query",
            "description": "Use units other than the default Imperial units. Values: us, si, uk, ca.",
            "type": "string",
            "default": "us",
            "enum": [
              "us",
              "si",
              "uk",
              "ca"
            ]
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "Exclude specified data blocks (comma-delimited). Values: currently, minutely, hourly, daily, alerts, flags.",
            "type": "string",
            "default": "minutely,hourly,daily,flags,alerts"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful forecast response",
            "schema": {
              "type": "object",
              "properties": {
                "latitude": { "type": "number" },
                "longitude": { "type": "number" },
                "timezone": { "type": "string" },
                "currently": { "type": "object" }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          }
        }
      }
    }
  }
}
